{
   "bip": "{{ bip_address }}",
   "registry-mirrors": [
            "{{ registry_mirrors_url }}"
   ],
   "storage-driver": "overlay2",
   "log-driver": "json-file",
   "log-opts": {
            "max-size": "50m",
            "max-file": "5"
   }
}